.nav{
    background-color: black;
    width: 100vw;
    height: 15vh;
    display: flex;
}
.left{
    width: 20%;
    height: 10vh;
   
}
.nav-img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px 20px;
}
.middle{
    width: 60%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
}
a{
    color: white;
    margin: 14px;
}
.right{
    width:20% ;
    height: 10vh;
    margin: 15px;
   
}